# Using Pandas Reporter for Analyzing The ACS

In this example, we'll use Census Reporter and pandasreporter to combine age groups in a census table and report aggregates and ratios. To keep the extent of the data small, we'll analyze COunty subdivisions of Bexar County Texas. 

To start the anslysis, visit [Census Reporter](https://censusreporter.org) and search for "Bexar" in the "Profile" search box. Select "Bexar County, Texas". On the profile page, in the 'Find data for this place' search box, search for "Poverty Status by Sex By Age." You should get a hit for Table B17001, "Poverty Status in the Past 12 Months by Sex by Age"

On the data page for [Table B17001](https://censusreporter.org/data/table/?table=B17001&geo_ids=05000US48029&primary_geo_id=05000US48029) select, in the left margin, under "Divide Bexar County, TX into " the link for "county subdivisions". You'll end up at [a page with columns for each of the county subdivisions](https://censusreporter.org/data/table/?table=B17001&geo_ids=05000US48029,060|05000US48029&primary_geo_id=05000US48029)

Look in the URL bar, and you'll see at the end of the url, these URL quiery parameters:  `geo_ids=05000US48029,060` and `primary_geo_id=05000US48029`. The `primary_geo_id` is the geoid for Bexar County, Tx. You can also get this value from the profile page. For instance the profile page for the Cit of San Diego has the URL https://censusreporter.org/profiles/16000US0666000-san-diego-ca/, where `16000US0666000` is the geoid for San Diego. 

The `,060` part of `geoids` is the summary level for the county subdivisions. You can also get the summar level code [from this list](https://www.census.gov/geo/maps-data/data/summary_level.html). Furthermore, the first three digits of any geoid is the summar levels, so for the place San Diego, with geoid `16000US0666000`, the summary level code is `160`. 

Now you have everything you need to fetch a table with the Census Reporter API: we need the table id, the geoid of the containing geography, and the summary level code for the divisons of the containing geography.

* Table: `B17001` ( Poverty Status in the Past 12 Months by Sex by Age )
* Containing geography geoid: `05000US48029` ( Bexar County,  Tx )
* Summary level: `060` ( County Subdivisions )

In [1]:
import pandas as pd
import numpy as np
import pandasreporter as pr
df = pr.get_dataframe('B01001', '140',  '05000US06073')
df.head(2)

,geoid,name,B01001001,B01001001_m90,B01001002,B01001002_m90,B01001003,B01001003_m90,B01001004,B01001004_m90,...,B01001045,B01001045_m90,B01001046,B01001046_m90,B01001047,B01001047_m90,B01001048,B01001048_m90,B01001049,B01001049_m90
0,14000US06073009304,"Census Tract 93.04, San Diego, CA",8442.0,717.0,4294.0,520.0,388.0,209.0,69.0,86.0,...,144.0,126.0,151.0,102.0,19.0,29.0,19.0,31.0,0.0,17.0
1,14000US06073018519,"Census Tract 185.19, San Diego, CA",5928.0,426.0,2816.0,257.0,195.0,71.0,324.0,139.0,...,27.0,25.0,108.0,62.0,49.0,39.0,95.0,54.0,53.0,22.0

The `get_dataframe` returns a dataframe, but the columns have cryptic codes. You can get a new view with different column name that are easier to understand. The access methods are: 

* `df.titled_columns` for human readable titles
* `df.coded_columns` to return to the codes
* `df.ct_columns` for a combination of codes and titles. This one is the easiest to use

In [2]:
df = df.ct_columns
df.head(2)

,geoid,name,B01001001 Total,Margins for B01001001 Total,B01001002 Total Male,Margins for B01001002 Total Male,B01001003 Total Male Under 5 years,Margins for B01001003 Total Male Under 5 years,B01001004 Total Male 5 to 9 years,Margins for B01001004 Total Male 5 to 9 years,...,B01001045 Total Female 67 to 69 years,Margins for B01001045 Total Female 67 to 69 years,B01001046 Total Female 70 to 74 years,Margins for B01001046 Total Female 70 to 74 years,B01001047 Total Female 75 to 79 years,Margins for B01001047 Total Female 75 to 79 years,B01001048 Total Female 80 to 84 years,Margins for B01001048 Total Female 80 to 84 years,B01001049 Total Female 85 years and over,Margins for B01001049 Total Female 85 years and over
0,14000US06073009304,"Census Tract 93.04, San Diego, CA",8442.0,717.0,4294.0,520.0,388.0,209.0,69.0,86.0,...,144.0,126.0,151.0,102.0,19.0,29.0,19.0,31.0,0.0,17.0
1,14000US06073018519,"Census Tract 185.19, San Diego, CA",5928.0,426.0,2816.0,257.0,195.0,71.0,324.0,139.0,...,27.0,25.0,108.0,62.0,49.0,39.0,95.0,54.0,53.0,22.0

Regardless of how you set the column names, you can always index with the codes, or the last three digits of the code. Additionally, for a lot of the special math functions, you can use a string with the last three digits.

In [3]:
assert np.round(df['B01001001'].mean(),4) == 5132.3185
assert np.round(df['001'].mean(),4) == 5132.3185

In [4]:
# Here is a nice view of all of the column names, with some example columns
df.iloc[:3].T

,0,1,2
geoid,14000US06073009304,14000US06073018519,14000US06073017009
name,0,1,2
B01001001 Total,8442,5928,4025
Margins for B01001001 Total,717,426,383
B01001002 Total Male,4294,2816,1831
Margins for B01001002 Total Male,520,257,224
B01001003 Total Male Under 5 years,388,195,63
Margins for B01001003 Total Male Under 5 years,209,71,44
B01001004 Total Male 5 to 9 years,69,324,139
Margins for B01001004 Total Male 5 to 9 years,86,139,85
B01001005 Total Male 10 to 14 years,78,256,77
Margins for B01001005 Total Male 10 to 14 years,104,146,64
B01001006 Total Male 15 to 17 years,23,96,86
Margins for B01001006 Total Male 15 to 17 years,39,57,44
B01001007 Total Male 18 and 19 years,60,54,31
Margins for B01001007 Total Male 18 and 19 years,99,53,31
B01001008 Total Male 20 years,27,108,12
Margins for B01001008 Total Male 20 years,46,89,18
B01001009 Total Male 21 years,0,21,54
Margins for B01001009 Total Male 21 years,17,23,40
B01001010 Total Male 22 to 24 years,287,153,118
Margins for B01001010 Total Male 22 to 24 years,188,90,68
B01001011 Total Male 25 to 29 years,655,272,114
Margins for B01001011 Total Male 25 to 29 years,327,111,64
B01001012 Total Male 30 to 34 years,630,165,120
Margins for B01001012 Total Male 30 to 34 years,244,106,71
B01001013 Total Male 35 to 39 years,559,180,92
Margins for B01001013 Total Male 35 to 39 years,266,64,65
B01001014 Total Male 40 to 44 years,264,199,149
Margins for B01001014 Total Male 40 to 44 years,176,60,59
...,...,...,...
B01001035 Total Female 25 to 29 years,734,240,111
Margins for B01001035 Total Female 25 to 29 years,323,99,70
B01001036 Total Female 30 to 34 years,732,174,141
Margins for B01001036 Total Female 30 to 34 years,259,77,82
B01001037 Total Female 35 to 39 years,488,179,85
Margins for B01001037 Total Female 35 to 39 years,246,67,50
B01001038 Total Female 40 to 44 years,83,165,143
Margins for B01001038 Total Female 40 to 44 years,75,75,72
B01001039 Total Female 45 to 49 years,187,218,77
Margins for B01001039 Total Female 45 to 49 years,113,98,38
B01001040 Total Female 50 to 54 years,227,248,232
Margins for B01001040 Total Female 50 to 54 years,152,92,105
B01001041 Total Female 55 to 59 years,118,145,185
Margins for B01001041 Total Female 55 to 59 years,96,64,71
B01001042 Total Female 60 and 61 years,16,49,60
Margins for B01001042 Total Female 60 and 61 years,26,47,50
B01001043 Total Female 62 to 64 years,95,97,58
Margins for B01001043 Total Female 62 to 64 years,103,67,35
B01001044 Total Female 65 and 66 years,0,67,49
Margins for B01001044 Total Female 65 and 66 years,17,59,31
B01001045 Total Female 67 to 69 years,144,27,42
Margins for B01001045 Total Female 67 to 69 years,126,25,31
B01001046 Total Female 70 to 74 years,151,108,94
Margins for B01001046 Total Female 70 to 74 years,102,62,56
B01001047 Total Female 75 to 79 years,19,49,37
Margins for B01001047 Total Female 75 to 79 years,29,39,32
B01001048 Total Female 80 to 84 years,19,95,25
Margins for B01001048 Total Female 80 to 84 years,31,54,28
B01001049 Total Female 85 years and over,0,53,57
Margins for B01001049 Total Female 85 years and over,17,22,71

In [5]:
# Or, just dump the columns
[e for e in df.columns if str(e).endswith('Total Female')]

['B01001026 Total Female', 'Margins for B01001026 Total Female']

In [22]:
# Values for Young males 15 to 19
sumsdf = pr.CensusDataFrame()
sumsdf['m1019'], sumsdf['m1019_m90'] =  df.sum_m('B01001005', 'B01001006', 'B01001007')
sumsdf.head(4)

   m1019   m1019_m90
0  161.0  148.788440
1  406.0  165.450899
2  194.0   83.624159
3  444.0  128.767232

In [23]:
# Add in total males and total females
sumsdf['males'], sumsdf['males_m90'] = df['B01001002'], df['B01001002_m90']
sumsdf['females'], sumsdf['females_m90'] = df['B01001026'], df['B01001026_m90']

In [26]:
# proportion of young males. This is a proportion because young males is a subset of all males
sumsdf['prop_m1019'], sumsdf['prop_m1019_m90'] = sumsdf.proportion('m1019', 'males')

# Ratio of male to female. Since one is not a subset of the other, use a ratio. 
sumsdf['fm'], sumsdf['fm_m90'] = sumsdf.ratio('females', 'males')
sumsdf.add_rse('fm') # Add a relative std err column




sumsdf

,m1019,m1019_m90,males,males_m90,females,females_m90,prop_m1019,prop_m1019_m90,fm,fm_m90,fm_rse
0,161.0,148.788440,4294.0,520.0,4148.0,455.0,0.037494,0.034352,0.965999,0.157837,9.932696
1,406.0,165.450899,2816.0,257.0,3112.0,304.0,0.144176,0.057262,1.105114,0.147738,8.126771
2,194.0,83.624159,1831.0,224.0,2194.0,261.0,0.105953,0.043793,1.198252,0.204470,10.373276
3,444.0,128.767232,3032.0,644.0,2480.0,282.0,0.146438,0.028917,0.817942,0.197061,14.645801
4,354.0,145.471647,3548.0,308.0,3964.0,453.0,0.099775,0.040076,1.117249,0.160338,8.724084
5,786.0,161.096245,2153.0,205.0,2374.0,241.0,0.365072,0.066260,1.102647,0.153469,8.460920
6,51.0,39.051248,1631.0,218.0,1342.0,193.0,0.031269,0.023576,0.822808,0.161547,11.935330
7,486.0,135.162865,2907.0,354.0,3117.0,297.0,0.167183,0.041802,1.072239,0.165793,9.399557
8,288.0,91.372862,2276.0,265.0,1984.0,213.0,0.126538,0.037345,0.871705,0.138056,9.627617
9,1120.0,392.048466,8833.0,978.0,10731.0,937.0,0.126797,0.042106,1.214876,0.171308,8.571958
10,327.0,131.129707,2621.0,264.0,2475.0,272.0,0.124762,0.048426,0.944296,0.140771,9.062298
11,221.0,133.394153,2873.0,378.0,3424.0,374.0,0.076923,0.045314,1.191786,0.203797,10.395239
12,103.0,70.178344,1672.0,205.0,1903.0,259.0,0.061603,0.041288,1.138158,0.208491,11.135758
13,570.0,142.860071,3974.0,308.0,4210.0,428.0,0.143432,0.034187,1.059386,0.135428,7.771209
14,359.0,151.052971,3813.0,378.0,3670.0,370.0,0.094152,0.038500,0.962497,0.136090,8.595283
15,75.0,64.915329,3077.0,431.0,2865.0,414.0,0.024374,0.020819,0.931102,0.187383,12.233962
16,191.0,91.219515,2198.0,269.0,2405.0,236.0,0.086897,0.040115,1.094177,0.171640,9.535962
17,462.0,221.817493,3308.0,414.0,3538.0,541.0,0.139661,0.064737,1.069528,0.211336,12.011989
18,179.0,130.188325,2006.0,295.0,1834.0,331.0,0.089232,0.063559,0.914257,0.212846,14.152423
19,215.0,66.588287,1935.0,230.0,2026.0,278.0,0.111111,0.031777,1.047028,0.190077,11.035855
20,169.0,64.202804,1666.0,147.0,1664.0,177.0,0.101441,0.037483,0.998800,0.138037,8.401402
21,235.0,118.072012,4383.0,740.0,2587.0,475.0,0.053616,0.025372,0.590235,0.147225,15.163211
22,191.0,72.979449,1490.0,191.0,1486.0,151.0,0.128188,0.046141,0.997315,0.163139,9.943952
23,593.0,180.405100,4192.0,491.0,4521.0,402.0,0.141460,0.039718,1.078483,0.158597,8.939564
24,59.0,50.487622,802.0,124.0,941.0,117.0,0.073566,0.061916,1.173317,0.232792,12.061121
25,161.0,80.901174,1718.0,207.0,1524.0,158.0,0.093714,0.045717,0.887078,0.141004,9.662785
26,122.0,67.007462,1397.0,212.0,1290.0,162.0,0.087330,0.046098,0.923407,0.181890,11.974278
27,63.0,36.742346,1050.0,193.0,1552.0,250.0,0.060000,0.033209,1.478095,0.361253,14.857410
28,624.0,135.085158,2739.0,203.0,3187.0,277.0,0.227820,0.046339,1.163563,0.132908,6.943756
29,975.0,306.382114,6547.0,599.0,7125.0,644.0,0.148923,0.044770,1.088285,0.139964,7.818220
...,...,...,...,...,...,...,...,...,...,...,...
598,728.0,208.329067,3710.0,365.0,3505.0,290.0,0.196226,0.052731,0.944744,0.121446,7.814541
599,1492.0,346.488095,11909.0,735.0,8754.0,720.0,0.125283,0.028048,0.735074,0.075587,6.251022
600,4.0,18.000000,1042.0,113.0,1076.0,122.0,0.003839,0.017269,1.032630,0.162014,9.537695
601,138.0,50.803543,902.0,127.0,1154.0,113.0,0.152993,0.052041,1.279379,0.219415,10.425580
602,383.0,173.037568,3313.0,484.0,3105.0,458.0,0.115605,0.049424,0.937217,0.194571,12.620398
603,352.0,165.725677,2807.0,286.0,3321.0,350.0,0.125401,0.057641,1.183114,0.173431,8.911164
604,264.0,100.414142,2679.0,311.0,2769.0,302.0,0.098544,0.035694,1.033595,0.164636,9.682946
605,404.0,135.403102,2600.0,291.0,1720.0,217.0,0.155385,0.049088,0.661538,0.111570,10.252460
606,226.0,92.005435,2626.0,303.0,2377.0,226.0,0.086062,0.033600,0.905179,0.135334,9.088787
607,517.0,184.190119,2790.0,386.0,2896.0,425.0,0.185305,0.060837,1.037993,0.209350,12.260638
608,56.0,41.593269,1379.0,156.0,1907.0,264.0,0.040609,0.029810,1.382886,0.247232,10.868081
609,877.0,252.249876,4785.0,329.0,4629.0,338.0,0.183281,0.051188,0.967398,0.097025,6.096958
610,296.0,77.839579,1579.0,192.0,1844.0,170.0,0.187460,0.043710,1.167828,0.178203,9.276192
611,235.0,77.569324,2225.0,225.0,2305.0,240.0,0.105618,0.033186,1.035955,0.150364,8.823444
612,123.0,56.293872,1658.0,152.0,1865.0,214.0,0.074186,0.033265,1.124849,0.165208,8.928332
613,765.0,230.863596,4544.0,442.0,4645.0,500.0,0.168354,0.048095,1.022227,0.148306,8.819537
614,123.0,42.249260,1086.0,109.0,1138.0,108.0,0.113260,0.037206,1.047882,0.144746,8.397081
615,597.0,171.970928,2510.0,345.0,2726.0,331.0,0.237849,0.060211,1.086056,0.199184,11.149039
616,464.0,219.793085,4584.0,582.0,3648.0,463.0,0.101222,0.046194,0.795812,0.142866,10.913181
617,92.0,35.128336,786.0,137.0,743.0,105.0,0.117048,0.039764,0.945293,0.212116,13.640832
618,415.0,149.372019,3428.0,481.0,3997.0,475.0,0.121062,0.040127,1.165986,0.214399,11.177983
619,462.0,170.467006,5382.0,883.0,1158.0,474.0,0.085842,0.028370,0.215162,0.094883,26.807448
620,412.0,142.298981,2293.0,342.0,2414.0,276.0,0.179677,0.055973,1.052769,0.197847,11.424310
621,0.0,20.784610,0.0,12.0,0.0,12.0,NaN,NaN,NaN,NaN,NaN
622,505.0,145.426958,3414.0,402.0,3190.0,426.0,0.147920,0.038873,0.934388,0.166360,10.823181
623,176.0,71.239034,1681.0,151.0,1963.0,196.0,0.104700,0.041322,1.167757,0.156838,8.164574
624,160.0,51.816986,1128.0,108.0,1122.0,106.0,0.141844,0.043884,0.994681,0.133793,8.176780
625,330.0,101.242284,2639.0,288.0,2704.0,325.0,0.125047,0.035855,1.024631,0.166344,9.869023
626,259.0,122.943076,2026.0,383.0,1552.0,213.0,0.127838,0.055663,0.766041,0.178953,14.201067
627,277.0,115.939639,3280.0,370.0,3164.0,430.0,0.084451,0.034040,0.964634,0.170374,10.736811